<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aquario.socialkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="co.aquario.chatapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="co.aquario.chatapp.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".VMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/CustomTheme">

        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".CustomPhotoPagerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".ExoSimplePlayerActivity"/>

        <activity
            android:name=".TakePhotoActivity2"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".PublishActivity"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".TakePhotoActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".chat.NameActivity"
            android:theme="@style/ChatAppTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".chat.SimpleChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatAppTheme"/>

        <activity
            android:name=".NewProfileActivity"
            android:theme="@style/AppCompatTheme" />

        <activity
            android:name=".activity.DragableActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme" />


        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activity.PostPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activity.PostVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activity.UploadClipReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".activity.PostYoutubeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme" />

        <activity
            android:name=".activity.SCSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activity.YtSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activity.YoutubeActivity"
            android:theme="@style/AppCompatTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity
            android:name=".activity.PostStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme"></activity>
        <activity
            android:name=".activity.PostStatusActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".activity.PostSoundCloudActivity"
            android:theme="@style/AppCompatTheme" />

        <activity
            android:name=".search.youtube.OpenYouTubePlayerActivity"/>




        <!--
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="sensorLandscape">
        </activity>

        <activity
            android:name=".activity.VideoTrailerPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="sensorLandscape">
        </activity>
        -->

        <activity
            android:name="co.aquario.chatapp.ChatActivity"
            android:theme="@style/AppCompatTheme">

        </activity>


        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true"/>
        </activity>

        <activity
            android:name="co.aquario.chatapp.push.ManagePush"
            >
        </activity>
        <activity
            android:name="co.aquario.chatapp.picker.LocationPickerActivity"
            >
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>



        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.codemobiles.cmapppush" to match your app's package name. -->
                <category android:name="co.aquario.socialkit" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
